/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./images/1.jpg');
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px; /* Increased max-width */
  padding: 40px; /* Increased padding */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background color */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 50px; /* Increased margin-bottom */
}

.input-group {
  margin-bottom: 30px; /* Increased margin-bottom */
}

.input-group input {
  width: 100%;
  padding: 10px; /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px; /* Increased font size */
}

.input-group button {
  width: 100%;
  padding: 15px; /* Increased padding */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Increased font size */
  cursor: pointer;
}

.input-group button:hover {
  background-color: #062241;
}

.error-message {
  color: #dc3545;
  margin-top: 10px; 
}
